<h2 class="container-fluid">Training Assignment</h2>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " routerLink="routing1" routerLinkActive="active" >Router-1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="routing2" routerLinkActive="active" >Router-2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="routing3" routerLinkActive="active" >Router-3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="routing4" routerLinkActive="active" >Router-4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="routing5" routerLinkActive="active" >Router-5</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="routing6" routerLinkActive="active" >Router-6</a>
  </li>
</ul>

<div>
<router-outlet></router-outlet>
</div>
